* {
    font-size: 32;
    color: white;

}

.header-wrapper {
    display: none;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}

h1 {
    font-size: 400%;
    font-weight: 600;
    font-family: ivyjournal,
        sans-serif;
    letter-spacing: .35vw;
    margin-bottom: 3vw;
}

p {
    font-size: 100%;
    font-family: ivyjournal,
        sans-serif;

    display: inline;
    font-weight: 100;
}

button {

    font-size: 100%;
    font-family: ivyjournal,
        sans-serif;

    border: none;
    background-color: black;
    border-bottom: 1px solid white;
    display: inline;
}

.wrapper {
    max-width: 75vw;
    padding-bottom: 5vw;
}



.earth {
    background-color: lightblue;
    border-radius: 50%;
    height: 15vw;
    width: 15vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7vw;
    box-shadow: 0px 4px 100px #FFFFFF;
    animation: flicker 10s ease-in-out infinite;
}







.sun--shape {
    height: 40vw;
    width: 40vw;
    background: #FEFFC8;
    box-shadow: 0px 4px 100px #FFFFFF;
    border-radius: 50%;
    z-index: 1;
    margin-bottom: 5vw;
    margin-top: 5vw;
}



.mitosis {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vw;
    margin-top: 5vw;
}

.circle {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 -10vw;
    background-color: #ffe1fd;
    animation: position 5s infinite ease;

}

@keyframes position {
    0% {
        margin: 0 -10vw;

    }


    100% {
        margin: 0 6vw;
    }
}




.timeline {
    width: 15vw;
    height: 200vw;
    margin: 0 auto 3vw auto;
    z-index: 3;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,84b58e+100 */
    background: #000000;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #000000 0%, #84b58e 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #000000 0%, #84b58e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #000000 0%, #84b58e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#84b58e', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    margin-left: 60vw;
}

.open__wrapper--gravity {

    display: grid;

    grid-template-rows: repeat(2, 1fr);
    max-height: 70vh;
}

.gravityobjects {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

.gravity--circle:nth-child(2) {
    animation-delay: .5s;
}

.gravity--circle:nth-child(3) {
    animation-delay: 1s;
}

.gravity--circle:nth-child(4) {
    animation-delay: 1.5s;
}

.gravity--circle:nth-child(5) {
    animation-delay: 2s;
}


.gravity--circle {
    background-color: grey;
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    margin: 3vw;
    animation-name: gravity;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes gravity {
    0% {

        transform: translateY(-100vh);
        opacity: 0;


        transform: scale(1);

        transform-origin: 50% 100%;
        opacity: 1;


        transform: translateY(0);
        opacity: 1;
    }

    100% {

        transform: translateY(0);
        opacity: 1;




        transform: translateY(70vh);
        opacity: 0;
    }
}


.open__wrapper--moon {

    display: grid;
    grid-template-columns: repeat(3, .5fr);
    grid-template-rows: repeat(3, .5fr);
    margin: 5vw 0 5vw 0;
}


.moon {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    background-color: lightgray;
    box-shadow: 0px 4px 100px #FFFFFF;
    animation: moon-orbit 8s linear infinite;

    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;


}

@keyframes moon-orbit {
    from {
        -webkit-transform: rotate(0deg) translateX(16vw) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX(16vw) rotate(-360deg);
    }
}


.rotating-earth {
    grid-row: 2/3;
    grid-column: 2/3;
    height: 16vw;
    width: 16vw;
    border-radius: 50%;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 100px #FFFFFF;


}

.open__wrapper--year {
    grid-row: 6/7;

    height: auto;

}

h2 {
    font-family: ocr-a-std, monospace;

    font-weight: 400;

    font-size: 800%;
    width: 10vw;
    line-height: 150%;
    margin-top: 5vw;
    font-weight: 100;

}


.collapsible:hover {

    font-weight: 600;
    border-bottom: 2px white solid;
}

.content {
    padding: 0 18px;
    display: none;


}
