* {
  text-decoration: none;
  font-family: brandon-grotesque, sans-serif;
  font-size: 32px;
}

body {
  max-width: 100vw;
  margin-bottom: 4vw;
}

.button__header {
  font-weight: normal;
}

.hero-caption {
  font-size: 85%;
}

.wrapper {
  display: block;
  margin-right: 20vw;
  margin-left: 20vw;
  text-align: center;
  max-width: 100vw;
}

.top {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.process {
  max-width: 100vw;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

p.process {
  font-size: 65%;
  font-weight: 200;
  text-align: left;
  line-height: 150%;
}

li {
  font-size: 65%;
  font-weight: 200;
  text-align: left;
  line-height: 150%;
}

h3 {
  color: black;
  letter-spacing: 3px;
}

h3.title {
  position: relative;
  z-index: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  width: 75vw;
  text-align: center;
  margin-left: -7vw;
}

h3.title:before {
  border-top: 2px solid black;
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}

h3.title span {
  /* to hide the lines from behind the text, you have to set the background color the same as the container */
  background: white;
  padding: 0 15px;
  font-size: 160%;
}

h4.divider {
  position: relative;
  z-index: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  text-align: center;
}

h4.divider:before {
  border-top: 2px solid black;
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}

h4.divider span {
  /* to hide the lines from behind the text, you have to set the background color the same as the container */
  background: white;
  padding: 0 15px;
  font-size: 150%;
}

h4.deliverables-divider {
  position: relative;
  z-index: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

h4.deliverables-divider:before {
  border-top: 2px solid black;
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}

h4.deliverables-divider span {
  /* to hide the lines from behind the text, you have to set the background color the same as the container */
  background: white;
  padding: 0 15px;
  font-size: 150%;
}

img {
  max-width: 50vw;
  margin-top: 2vw;
}

img.initialscreens {
  max-width: 30%;
  border-radius: 0;
  border: 1px grey solid;
}

img.initialscreens:nth-child(2) {
  margin-top: -20vw;
}

h5 {
  text-align: left;
}

h6 {
  text-align: left;
  font-size: 80%;
  font-weight: 200;
}

.black {
  background-color: black;
  height: 8vw;
  width: 8vw;
  display: inline-block;
}

.green {
  background-color: #39ff14;
  height: 8vw;
  width: 8vw;
  display: inline-block;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: underline;
  display: -ms-inline-grid;
  display: inline-grid;
  margin-bottom: 5vw;
}

.accordion__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12vw 12vw 12vw;
      grid-template-columns: 12vw 12vw 12vw;
}

.accordion {
  max-width: 12vw;
  padding: 0;
  margin: 0;
}

.button__wrapper {
  display: -ms-grid;
  display: grid;
}

.show button {
  color: red;
}

.red {
  color: red;
}

p.small {
  font-size: 55%;
}

p.large {
  text-align: left;
}

#red:focus {
  color: red;
}

img.wireframe {
  max-width: 30vw;
}

h6 {
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 2vw;
}

iframe {
  margin-top: 3vw;
}

h5 {
  font-size: 200%;
}

img.typemark {
  margin-bottom: 2vw;
}

/*

div.panel {
  display: none;
}

div.panel.show {
  display: inline-block !important;
  max-width:100vw;

}

.web {margin-top:5vw;}*/
img.web-flats {
  border: 2px lightgrey solid;
}
/*# sourceMappingURL=scheme.css.map */